<!DOCTYPE html>
<html>
  <head>
    <title>
      {{template "TTitle" .}}
    </title>
    <script src="/assets/jquery.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap-theme.css">
    <script src="/assets/bootstrap.js"></script>
    <link rel="stylesheet" href="/assets/font-awesome.css">
    <script src="/assets/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-xs-11">
        {{template "TContent" .}}
      </div>
    </div>
  </body>
</html>
